.searchbar {
    margin-top: 4%;
    margin-bottom: 4%;
}

.search-input {
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    color: #84AAC2;
    width: 85%;
    padding:1.5%;
    border-radius: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
}

::placeholder {
    color: #84AAC2;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #84AAC2;
}

::-ms-input-placeholder {
    color: #84AAC2;
}


/* Screen Sizes 780px and down */

@media(max-width: 780px) {
    .searchbar {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .search-input {
        padding-left: 5%;
        font-size: 1rem;
    }
}
