.movie-tag {
    color: #6b92b9;
    display: inline-block;
    border-radius: 40px;
    border: 1.4px solid #6b92b9;
    z-index: 5;

    left: 1.5%;
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-family: 'Abel', sans-serif;
    background-color: #FFFFFF;
    font-size: 1rem;
    margin: 0.5%;
}

/* Screen Sizes 781px to 1200px */

@media(min-width: 781px) and (max-width: 1200px) {
    .movie-tag {
        font-size: 0.75rem;
    }
}